[Unit]
Description=JupyterLab
After=syslog.target network.target
[Service]
User=root
Environment="PATH=$PATH:/usr/local/cuda/bin"
ExecStart=jupyter lab --allow-root --port 80 --ip 0.0.0.0 --no-browse --notebook-dir /content --NotebookApp.token=''
[Install]
WantedBy=multi-user.target
