[Unit]
Description=Dust3r
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
WorkingDirectory=/content/dust3r
ExecStart=/bin/bash -c '. /content/dust3r-venv/bin/activate && python demo.py --weights /content/dust3r/checkpoints/DUSt3R_ViTLarge_BaseDecoder_512_dpt.pth'
Restart=always
[Install]
WantedBy=multi-user.target
