[Unit]
Description=Forge
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
Environment="GRADIO_ANALYTICS_ENABLED=False"
WorkingDirectory=/content/forge
ExecStart=/bin/bash -c '. /content/forge-venv/bin/activate && python launch.py --gradio-queue --xformers --gpu-device-id 0 --port 1000'
Restart=always
[Install]
WantedBy=multi-user.target
