[Unit]
Description=Instant ID
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
WorkingDirectory=/content/InstantID-hf
ExecStart=/bin/bash -c '. /content/instant-id-venv/bin/activate && python app2.py'
Restart=always
[Install]
WantedBy=multi-user.target
