[Unit]
Description=Discord
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
WorkingDirectory=/content/com.camenduru/discord
ExecStart=/bin/bash -c 'java -Dcom_camenduru_discord_token=MT -Dcom_camenduru_web_data_mongodb_uri=mongodb://127.0.0.1:27017/web?waitQueueMultiple=1000 -Dcom_camenduru_discord_type=sdxl -Dcom_camenduru_discord_amount=1 -Dcom_camenduru_discord_total=100 -Dserver.port=4000 -jar target/discord-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod'
Restart=always
[Install]
WantedBy=multi-user.target